{% extends 'app1/base.html' %}

{% block title%}Regresion Lineal{% endblock title %}

{% block content %} 

    <h1 class="display-3">Algoritmo Regresion Lineal</h1>
    <!-- <p><em>Ingrese tres valores:</em></p> -->
    <form class="row gx-3 gy-2 align-items-center"  action="" method="post">
        {% csrf_token %}
        <div class="col-sm-2">
          <label class="visually-hidden" for="specificSizeInputName">Name</label>
          <input type="text" class="form-control" name="x" id="specificSizeInputX" placeholder="x">
        </div>
        <div class="col-sm-2">
            <label class="visually-hidden" for="specificSizeInputName">Name</label>
            <input type="text" class="form-control" name="y" id="specificSizeInputY" placeholder="y">
          </div>
        
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Clasificar</button>
        </div>
    </form>
    <br>

    {%for val in rel%}

      El resultado es : {{val}}
    
  {% endfor %}
    
    
{% endblock %} 